@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400&family=Heebo:wght@100;400;700&display=swap');

/*#Home Style*/

body{
    background-color: #F4F1EF;
    font-family: 'Catamaran', Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-family: 'Heebo', Arial, sans-serif;
}

img{
    max-width: 100%;
	height: auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#hero{
    grid-column: 1/span 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hero-msg{
    height: 130px;
    background-color: #ef476ee1;
    text-align: center;
    color: #F4F1EF;
    grid-column: 1/3;
    grid-row: 2/3;
}

#hero-image{
    width: 100%;
	height: auto;
    grid-column: 1/3;
    grid-row: 1/3;
}

#about-box{
    margin-top: 10px;
    grid-column: 1/span 10;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    background-color: #0A88CD;
}

.about-img-container{
    grid-column: 1/5;
    grid-row: 1/3;
    border-right: 10px solid #F4F1EF; 
}

.about-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-title{
    font-size: 2em;
}

.about-msg-container{
    grid-column: 5/10;
    grid-row: 1/3;
    padding: 20px 100px 80px 80px;
    color: #F4F1EF;
}

.about-msg-container a{
    color: #F4F1EF
}

.about-msg-container a:hover{
    color: #0B0033
}

#gallery-box{
    margin-top: 20px;
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
}

#gallery-box h2{
    color: #EF476F;
}

.gallery-link{
    grid-column: 1/11;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #03B5AA;
    text-align: center;
}

.gallery-link a{
    color: #F4F1EF;
}

.gallery-link a:hover{
    color: #0B0033;
}

#gallery-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery {
    border: 1px solid #ccc;
}
  
.gallery:hover {
    border: 1px solid #777;
}
  
.gallery img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
.responsive {
    padding: 6px 6px;
    width: 30%;
}

#commission-box{
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 50px 1fr 50px;
    color: #F4F1EF;
    margin-bottom: 100px;
}

.commission-img{
    height: 100%;
    grid-column: 1/9;
    grid-row: 1/4;
    z-index: -1;
    object-fit: cover;
}

.commission-msg{
    background-color: #0b0033db;
    grid-column: 5/8;
    grid-row: 2/3;
    padding: 50px;
}

.commission-msg a{
    color: #F4F1EF;
}

.commission-msg a:hover{
    color: #EF476F;
}

/*#Commissions Style*/

.table-container{
    margin: 0 auto;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/*About Style*/
#about-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.about-box{
    grid-column: 1/span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-box h2{
    color: #EF476F;
}

.about-box p,h2{
    grid-column: 2/span 8;
}


.about-box img{
    height: 500px;
    width: 100%;
    grid-column: 3/span 6;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}


/*Header and Footer*/

.header {
    padding: 15px 10px;
    background: #0B0033;
    color: #f1f1f1;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: #F4F1EF;
}

a:hover, a.active{
    color: #EF476F;
}

#logo_link{
    padding-top: 5px;
}

.logo{
	max-width: 50%;
	height: auto;
    padding-left: 80px;
}

.social img{
    width: 50px;
    height: auto;
}

footer .links-box{
    background-color: #0B0033;
    color: #F4F1EF;
    display: flex;
    flex-direction: column;
}

footer .links{
    display: grid;
    grid-template-columns: 300px 300px;
    padding: 50px;
}

.links-box a{
    color: #F4F1EF;
    text-decoration: none;
}

.links-box a:hover{
    color: #EF476F;
    text-decoration: none;
}

.social{
    display: flex;
    align-self: center;
}

.social a{
    padding: 10px;
}

footer p{
    text-align: center;
    margin-top: 0;
}

.contact-box{
    background-color: #EF476F;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 30px;
}

.contact-msg{
    grid-column: 2/8;
    grid-row: 1/2;
    padding-right: 80px;
    color: #F4F1EF;
}

footer .contact-msg p{
    text-align: left;
}

footer .contact-msg p a{
    color: #F4F1EF;
}

.contact-msg p a:hover{
    color: #0B0033;
}

.contact-img{
    grid-column: 8/10;
    grid-row: 1/2;
    width: 100%;
}

@media screen and (max-width: 900px) {

    body{
        font-size: 30px;
    }

    .header a {
      display: block;
      text-align: left;
    }

    nav, footer .links{
        display: flex;
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    .contact-box{
        display: flex;
        flex-direction: column;
    }

    .contact-img{
        width: 40%;
    }

    #hero-image{
        grid-row: 1/2;
        object-fit:cover;
    }

    #hero-msg{
        grid-row: 2/3;
        background-color: #EF476F;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .commission-img{
        grid-column: 1/9;
    }
    
    .commission-msg{
        background-color: #0b0033c6;
        grid-column: 1/9;
        grid-row: 1/5;
    }

    #gallery-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .responsive {
        width: 100%;
    }

    .about-img-container{
        grid-column: 1/10;
        grid-row: 1/3;
        border-right: 0; 
    }
    
    .about-img-container img{
        opacity: 0.2;
        z-index: -1;
    }

    .about-msg-container{
        grid-column: 1/10;
        grid-row: 1/3;
        padding: 20px 100px 80px 80px;
        color: #F4F1EF;
        z-index: 2;
    }

  }

/*Porfolio Style*/

body {
    font-family: Arial;
    margin: 0;
}

#porfolio-grid {
     box-sizing: border-box;
}

img {
     vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
     position: relative;
}

/* Hide the images by default */

.myBackgrounds {
    display: none;
}

.mySlides {
    display: none;
    background-color: rgba(34, 34, 34, 0.741);
}

.mySlides img{
    height: 400px;
    object-fit:scale-down;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.889);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
    height: auto;
}

.column img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


@media screen and (max-width: 600px) {

    body{
        font-size: 20px;
    }

    h1{
        font-size: 29px;
    }

    h2{
        font-size: 15;
    }

    .about-msg-container{
        padding: 20px 10px 40px 10px;
    }

    .commission-msg{
        padding: 20px 10px 40px 10px;
    }

  }